<div class="col-md-12 text-justify">
    O aplicativo <b>MarkupTotal</b> foi desenvolvido para lhe ajudar a precificar seus produtos ou 
   serviços, a fim de alertar sobre possíveis prejuízos em suas vendas. Desta forma, o aplicativo será  
   de grande valia para manter seu produto muito mais competitivo.<br>
   <br>
   Ao avaliar seus produtos e os itens que os compõem, você poderá obter os seguintes resultados:<br>
   <br>
   <li>O custo percentual representado em cada item na confecção do produto final.</li>
    <li>Obter a relação de fornecedores para cada item de produto, objetivando conhecer qual 
       fornecedor entrega o mesmo item com menor preço, maior garantia, maior rapidez na entrega etc.</li>
    <li>Permitir a precificação do produto final com base nos custos de sua confecção.</li>
    <li>Conhecer quais produtos estão com maior e menor lucro ou prejuízo nas vendas.</li>
    <li>Permitir reajustar automaticamente os percentuais de custo de cada item da matéria-prima 
       atrelada ao produto, bem como os preços dos produtos de acordo com os preços de seus 
     itens atualizados.</li>
</div>